body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
   h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  a {
    text-decoration: none;
}
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
  
 
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }


 .nav-header {
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
 }
 
  .page-header {
    border-bottom: 1px solid #e7e9fc;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700; 
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
   
}
     
 .header-logo {
    margin-right: 76px;
    

 }
 
.header-logo .logo-part {
 color: #2e2f42;

}

 .nav-list {
    display: flex;
    align-items:center ;
    gap: 40px;
 }


.nav-link {
    font-weight: 500;
    font-size:16px ;
    line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   padding: 24px 0;
   display: block;
}
 
 .nav-item {
    align-items: center;
    display: flex;
    gap: 40px;
   
 } 

  .nav-header {
    display: flex;
    align-items: center;
  }
  

 

.nav-link:hover {

    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}

 
.contacts {
    font-style: normal;
    margin-left: auto;
}

 .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
 }



.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   
}

.contacts-link:hover {
  color:#404bbf;
}

.contacts-link:focus {
  color: #404bbf
}
 
.h1 {
    color: #FFFF;
}

.h2 {
  color: #FFFF;
}

 
.p {
    color: #434455;
}


 .order-button:hover{
    background-color: #404BBF;
 }
 .order-button:focus {
  background-color: #404BBF;
 }

[type="button"] {
    background-color: #4D5AE5;

}
 
.hero {   
background: rgb(46, 47, 66);
padding: 188px 0;
}


.button {
    background-color: #404BBF;
}

.hero-title {   
  font-size: 56px;
  font-weight: bold;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 46px;
margin-left: auto;
}

.order-button {
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
text-align: center;
margin:  0 auto;
}

.features {
    background-color:#ffff ;
    padding: 120px 0 120px;
}

.features-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

 
}

.features-subtitle {
    
color: rgb(46, 47, 66);
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

 .features-list {

    display: flex;
    gap: 24px;
 }

 .features-item {
    flex-basis: 264px;
    width: calc((100% - 72px) / 4);
 }

.team {
 background-color: #F4F4FD;
 padding: 120px 0 120px;
}

.name-g {
    padding: 32px 0; 
    text-align: center;
    
}


    
.team-image {
    background-color: #FFFFFF;
}
.team-item {
background-color: #FFFFFF;
color: #434455;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
border-radius: 0px 0px 4px 4px;

}
.team-title {
   
color: rgb(46, 47, 66);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em; 
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;
}

 .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
 }


.team-subtitle {  
color: rgb(46, 47, 66);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
} 
.portfolio {
  background-color: #FFFFFF;
    padding: 120px 0 120px;
    
}
.portfolio-title {
  
color: #2e2f42;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
}


 .name-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px
 
 }

.portfolio-item {  

color: rgb(67, 68, 85);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
width: calc((100% - 48px) / 3);


}
.portfolio-subtitle  {

color: rgb(46, 47, 66);
font-family: Roboto;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;

}
 
.footer-title {
    background-color: #2E2F42;
    padding: 100px 0;
   
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700; 
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-item-text {
  
color: rgb(244, 244, 253);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
position: absolute;
width: 264px;
height: 72px;


}

.logo-part{
    color: #f4f4fd; 
}

